.card {
  &_active{
    background-color: rgba(109, 88, 212, 0.4)
  }

  &_other {
    opacity: 0.3;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
    transform: scale(1.05);
  }
}

.info {
  &_weekend {
    color: rgba(212, 89, 121, 1);
  }
}

