.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.month {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  background-color: inherit;
  border: 0;
  cursor: pointer;
  padding: 20px;
}
