.modal {
  position: absolute;
  background-color: rgba(182, 176, 212, 1);
  width: 300px;
  height: 500px;
  padding: 20px;
}

.overlay {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 20%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subtitle {
  font-size: small;
}

.close {
  background-color: inherit;
  border: 0;
  cursor: pointer;
  padding: 20px;
}
